In [45]:
#import libraries
import pandas as pd
import numpy as np

In [46]:
#importing the file

filename= "datasets/DC_Properties.csv"
df = pd.read_csv(filename)
df

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (18,19,20,21,22,23,24,33,34,35,37,43,45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
0,0,4,0,Warm Cool,Y,2.0,8,4,1910.0,1988.0,...,-77.040832,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
1,1,3,1,Warm Cool,Y,2.0,11,5,1898.0,2007.0,...,-77.040764,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
2,2,3,1,Hot Water Rad,Y,2.0,9,5,1910.0,2009.0,...,-77.040678,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
3,3,3,1,Hot Water Rad,Y,2.0,8,5,1900.0,2003.0,...,-77.040629,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
4,4,2,1,Warm Cool,Y,1.0,11,3,1913.0,2012.0,...,-77.039361,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
5,5,3,2,Hot Water Rad,Y,1.0,10,5,1913.0,NaN,...,-77.039715,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
6,6,1,0,Warm Cool,Y,2.0,5,2,1917.0,1988.0,...,-77.041055,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
7,7,3,1,Hot Water Rad,Y,2.0,8,4,1906.0,2011.0,...,-77.040129,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
8,8,3,1,Warm Cool,Y,2.0,7,3,1908.0,2008.0,...,-77.039903,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
9,9,1,1,Hot Water Rad,Y,1.0,6,2,1908.0,1979.0,...,-77.040081,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
10,10,3,0,Forced Air,N,3.0,12,5,1890.0,1950.0,...,-77.040760,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
11,11,5,0,Hot Water Rad,Y,3.0,16,6,1905.0,NaN,...,-77.039718,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
12,12,2,0,Hot Water Rad,N,2.0,9,5,1894.0,1979.0,...,-77.039569,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
13,13,2,0,Warm Cool,Y,2.0,11,5,1885.0,1979.0,...,-77.039644,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
14,14,3,1,Warm Cool,Y,2.0,5,3,1917.0,2000.0,...,-77.039716,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
15,15,2,1,Warm Cool,Y,2.0,9,4,1908.0,1990.0,...,-77.039784,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
16,16,3,1,Warm Cool,Y,1.0,8,3,1908.0,2006.0,...,-77.039844,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
17,17,2,0,Hot Water Rad,N,1.0,6,3,1908.0,1987.0,...,-77.039961,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
18,18,3,1,Hot Water Rad,Y,2.0,10,4,1908.0,2006.0,...,-77.040020,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
19,19,3,1,Hot Water Rad,Y,2.0,9,3,1908.0,2013.0,...,-77.040138,Old City 2,040 D Old City 2,4201.0,004201 2005,Ward 2,152,-77.040429,38.914881,NW
20,20,3,1,Hot Water Rad,Y,1.0,14,5,1880.0,2009.0,...,-77.033774,Old City 2,040 E Old City 2,5201.0,005201 4003,Ward 2,208,-77.033366,38.911716,NW
21,21,3,0,Forced Air,Y,2.0,12,3,1880.0,2009.0,...,-77.033838,Old City 2,040 E Old City 2,5201.0,005201 4003,Ward 2,208,-77.033366,38.911716,NW
22,22,1,0,Forced Air,Y,1.0,6,3,1880.0,2010.0,...,-77.033925,Old City 2,040 E Old City 2,5201.0,005201 4003,Ward 2,208,-77.033366,38.911716,NW
23,23,2,1,Forced Air,Y,1.0,5,3,1880.0,2010.0,...,-77.033972,Old City 2,040 E Old City 2,5201.0,005201 4003,Ward 2,208,-77.033366,38.911716,NW
24,24,2,1,Hot Water Rad,Y,1.0,8,3,1880.0,2004.0,...,-77.034070,Old City 2,040 E Old City 2,5201.0,005201 4003,Ward 2,208,-77.033366,38.911716,NW
25,25,1,0,Hot Water Rad,N,1.0,8,4,1880.0,2010.0,...,-77.034156,Old City 2,040 E Old City 2,5201.0,005201 4003,Ward 2,208,-77.033366,38.911716,NW
26,26,1,0,Hot Water Rad,N,1.0,10,5,1900.0,2004.0,...,-77.034258,Old City 2,040 E Old City 2,5201.0,005201 4003,Ward 2,208,-77.033366,38.911716,NW
27,27,3,0,Hot Water Rad,Y,4.0,9,3,1900.0,1963.0,...,-77.034182,Old City 2,040 E Old City 2,5201.0,005201 4003,Ward 2,208,-77.033366,38.911716,NW
28,28,3,0,Warm Cool,Y,2.0,10,4,1900.0,1960.0,...,-77.034119,Old City 2,040 E Old City 2,5201.0,005201 4003,Ward 2,208,-77.033366,38.911716,NW
29,29,3,1,Forced Air,Y,2.0,11,3,1900.0,2014.0,...,-77.034051,Old City 2,040 E Old City 2,5201.0,005201 4003,Ward 2,208,-77.033366,38.911716,NW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158927,158927,2,0,Ht Pump,Y,NaN,6,3,1993.0,1993.0,...,-77.019274,Old City 2,040 G Old City 2,4801.0,NaN,Ward 6,475,-77.019277,38.914287,NW
158928,158928,2,1,Ht Pump,Y,NaN,5,2,2013.0,NaN,...,-77.019274,Old City 2,040 G Old City 2,4801.0,NaN,Ward 6,475,-77.019277,38.914287,NW
158929,158929,2,1,Ht Pump,Y,NaN,5,2,2013.0,NaN,...,-77.019274,Old City 2,040 G Old City 2,4801.0,NaN,Ward 6,475,-77.019277,38.914287,NW
158930,158930,2,0,Forced Air,N,NaN,4,2,1900.0,2003.0,...,-77.019243,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,476,-77.019245,38.912954,NW
158931,158931,2,1,Forced Air,N,NaN,4,2,1900.0,2003.0,...,-77.019243,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,476,-77.019245,38.912954,NW
158932,158932,2,1,Forced Air,N,NaN,4,2,1900.0,2003.0,...,-77.019243,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,476,-77.019245,38.912954,NW
158933,158933,2,0,Ht Pump,Y,NaN,4,2,1880.0,2016.0,...,-77.019243,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,476,-77.019245,38.912954,NW
158934,158934,1,1,Ht Pump,Y,NaN,3,1,1880.0,2016.0,...,-77.019243,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,476,-77.019245,38.912954,NW
158935,158935,1,0,Ht Pump,Y,NaN,3,1,1880.0,2016.0,...,-77.019243,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,476,-77.019245,38.912954,NW
158936,158936,1,0,Ht Pump,Y,NaN,3,1,1880.0,2016.0,...,-77.019243,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,476,-77.019245,38.912954,NW
158937,158937,1,0,Forced Air,Y,NaN,4,2,1992.0,1992.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158938,158938,2,0,Warm Cool,Y,NaN,7,4,1992.0,1992.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158939,158939,1,0,Forced Air,Y,NaN,4,2,1992.0,1992.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158940,158940,2,0,Forced Air,Y,NaN,7,4,1992.0,1992.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158941,158941,1,0,Forced Air,Y,NaN,4,2,1992.0,1992.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158942,158942,2,0,Forced Air,Y,NaN,7,4,1992.0,1992.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158943,158943,2,1,Forced Air,Y,NaN,5,2,2004.0,2004.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158944,158944,2,1,Forced Air,Y,NaN,5,2,2004.0,2004.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158945,158945,1,0,Forced Air,Y,NaN,3,1,1938.0,2006.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158946,158946,1,0,Forced Air,Y,NaN,4,2,1938.0,2006.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158947,158947,2,0,Forced Air,Y,NaN,4,2,1938.0,2006.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158948,158948,2,0,Forced Air,Y,NaN,4,2,1938.0,2006.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158949,158949,1,1,Forced Air,Y,NaN,4,1,1938.0,2006.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158950,158950,3,0,Forced Air,Y,NaN,5,3,1938.0,2006.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158951,158951,3,1,Forced Air,Y,NaN,5,3,1938.0,2006.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158952,158952,1,0,Forced Air,Y,NaN,3,1,1938.0,2006.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158953,158953,1,0,Forced Air,Y,NaN,4,2,1938.0,2006.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158954,158954,2,0,Forced Air,Y,NaN,4,2,1920.0,2007.0,...,-77.019420,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158955,158955,1,0,Warm Cool,Y,NaN,2,0,1965.0,NaN,...,-77.018230,Southwest Waterfront,NaN,11000.0,NaN,Ward 6,504,-77.018232,38.872961,SW
158956,158956,1,0,Warm Cool,Y,NaN,2,0,1965.0,NaN,...,-77.018230,Southwest Waterfront,NaN,11000.0,NaN,Ward 6,504,-77.018232,38.872961,SW

In [47]:
#Looking for duplicates
dupe = df.duplicated()

In [48]:
df.loc[dupe]

Empty DataFrame
Columns: [Unnamed: 0, BATHRM, HF_BATHRM, HEAT, AC, NUM_UNITS, ROOMS, BEDRM, AYB, YR_RMDL, EYB, STORIES, SALEDATE, PRICE, QUALIFIED, SALE_NUM, GBA, BLDG_NUM, STYLE, STRUCT, GRADE, CNDTN, EXTWALL, ROOF, INTWALL, KITCHENS, FIREPLACES, USECODE, LANDAREA, GIS_LAST_MOD_DTTM, SOURCE, CMPLX_NUM, LIVING_GBA, FULLADDRESS, CITY, STATE, ZIPCODE, NATIONALGRID, LATITUDE, LONGITUDE, ASSESSMENT_NBHD, ASSESSMENT_SUBNBHD, CENSUS_TRACT, CENSUS_BLOCK, WARD, SQUARE, X, Y, QUADRANT]
Index: []

[0 rows x 49 columns]

In [49]:
#These are all the columns
df.columns

Index(['Unnamed: 0', 'BATHRM', 'HF_BATHRM', 'HEAT', 'AC', 'NUM_UNITS', 'ROOMS',
       'BEDRM', 'AYB', 'YR_RMDL', 'EYB', 'STORIES', 'SALEDATE', 'PRICE',
       'QUALIFIED', 'SALE_NUM', 'GBA', 'BLDG_NUM', 'STYLE', 'STRUCT', 'GRADE',
       'CNDTN', 'EXTWALL', 'ROOF', 'INTWALL', 'KITCHENS', 'FIREPLACES',
       'USECODE', 'LANDAREA', 'GIS_LAST_MOD_DTTM', 'SOURCE', 'CMPLX_NUM',
       'LIVING_GBA', 'FULLADDRESS', 'CITY', 'STATE', 'ZIPCODE', 'NATIONALGRID',
       'LATITUDE', 'LONGITUDE', 'ASSESSMENT_NBHD', 'ASSESSMENT_SUBNBHD',
       'CENSUS_TRACT', 'CENSUS_BLOCK', 'WARD', 'SQUARE', 'X', 'Y', 'QUADRANT'],
      dtype='object')

In [50]:
df.dtypes

Unnamed: 0              int64
BATHRM                  int64
HF_BATHRM               int64
HEAT                   object
AC                     object
NUM_UNITS             float64
ROOMS                   int64
BEDRM                   int64
AYB                   float64
YR_RMDL               float64
EYB                     int64
STORIES               float64
SALEDATE               object
PRICE                 float64
QUALIFIED              object
SALE_NUM                int64
GBA                   float64
BLDG_NUM                int64
STYLE                  object
STRUCT                 object
GRADE                  object
CNDTN                  object
EXTWALL                object
ROOF                   object
INTWALL                object
KITCHENS              float64
FIREPLACES              int64
USECODE                 int64
LANDAREA                int64
GIS_LAST_MOD_DTTM      object
SOURCE                 object
CMPLX_NUM             float64
LIVING_GBA            float64
FULLADDRESS            object
CITY                   object
STATE                  object
ZIPCODE               float64
NATIONALGRID           object
LATITUDE              float64
LONGITUDE             float64
ASSESSMENT_NBHD        object
ASSESSMENT_SUBNBHD     object
CENSUS_TRACT          float64
CENSUS_BLOCK           object
WARD                   object
SQUARE                 object
X                     float64
Y                     float64
QUADRANT               object
dtype: object

In [51]:
#create a new dataFrame with bedrooms, bathrooms, price, year, year remodeled, city, state, zipcode, heat, ac, stories, style
#Pull columns, rename them and form a new dataFrame
df_new = df[['ZIPCODE', 'STORIES', 'AYB', 'YR_RMDL', 'CNDTN','BEDRM', 'BATHRM', 'HEAT', 'AC' , 'PRICE']]

In [52]:
df_new.head(100)

,ZIPCODE,STORIES,AYB,YR_RMDL,CNDTN,BEDRM,BATHRM,HEAT,AC,PRICE
0,20009.0,3.0,1910.0,1988.0,Good,4,4,Warm Cool,Y,1095000.0
1,20009.0,3.0,1898.0,2007.0,Good,5,3,Warm Cool,Y,NaN
2,20009.0,3.0,1910.0,2009.0,Very Good,5,3,Hot Water Rad,Y,2100000.0
3,20009.0,3.0,1900.0,2003.0,Good,5,3,Hot Water Rad,Y,1602000.0
4,20009.0,3.0,1913.0,2012.0,Good,3,2,Warm Cool,Y,NaN
5,20009.0,4.0,1913.0,NaN,Good,5,3,Hot Water Rad,Y,1950000.0
6,20009.0,2.0,1917.0,1988.0,Average,2,1,Warm Cool,Y,NaN
7,20009.0,3.0,1906.0,2011.0,Average,4,3,Hot Water Rad,Y,1050000.0
8,20009.0,2.0,1908.0,2008.0,Very Good,3,3,Warm Cool,Y,1430000.0
9,20009.0,2.0,1908.0,1979.0,Average,2,1,Hot Water Rad,Y,NaN
10,20009.0,3.0,1890.0,1950.0,Fair,5,3,Forced Air,N,NaN
11,20009.0,3.0,1905.0,NaN,Average,6,5,Hot Water Rad,Y,NaN
12,20009.0,3.0,1894.0,1979.0,Average,5,2,Hot Water Rad,N,NaN
13,20009.0,3.0,1885.0,1979.0,Average,5,2,Warm Cool,Y,NaN
14,20009.0,2.0,1917.0,2000.0,Very Good,3,3,Warm Cool,Y,1325000.0
15,20009.0,2.0,1908.0,1990.0,Average,4,2,Warm Cool,Y,NaN
16,20009.0,2.0,1908.0,2006.0,Very Good,3,3,Warm Cool,Y,1240000.0
17,20009.0,2.0,1908.0,1987.0,Average,3,2,Hot Water Rad,N,NaN
18,20009.0,2.0,1908.0,2006.0,Good,4,3,Hot Water Rad,Y,NaN
19,20009.0,2.0,1908.0,2013.0,Good,3,3,Hot Water Rad,Y,592250.0
20,20009.0,3.0,1880.0,2009.0,Very Good,5,3,Hot Water Rad,Y,33232.0
21,20009.0,3.0,1880.0,2009.0,Good,3,3,Forced Air,Y,NaN
22,20009.0,2.0,1880.0,2010.0,Good,3,1,Forced Air,Y,907400.0
23,20009.0,2.0,1880.0,2010.0,Very Good,3,2,Forced Air,Y,1065000.0
24,20009.0,2.0,1880.0,2004.0,Good,3,2,Hot Water Rad,Y,1100000.0
25,20009.0,2.0,1880.0,2010.0,Good,4,1,Hot Water Rad,N,20000.0
26,20009.0,3.0,1900.0,2004.0,Average,5,1,Hot Water Rad,N,NaN
27,20009.0,3.0,1900.0,1963.0,Average,3,3,Hot Water Rad,Y,703700.0
28,20009.0,4.0,1900.0,1960.0,Average,4,3,Warm Cool,Y,NaN
29,20009.0,3.0,1900.0,2014.0,Very Good,3,3,Forced Air,Y,1210000.0
...,...,...,...,...,...,...,...,...,...,...
70,20009.0,3.0,1885.0,2008.0,Good,4,3,Forced Air,Y,990000.0
71,20009.0,2.0,1907.0,2005.0,Good,3,2,Warm Cool,Y,682500.0
72,20009.0,2.0,1907.0,2014.0,Very Good,3,4,Warm Cool,Y,993500.0
73,20009.0,2.0,1907.0,2011.0,Good,2,2,Warm Cool,Y,745000.0
74,20009.0,2.0,1979.0,NaN,Average,4,2,Warm Cool,Y,NaN
75,20009.0,2.0,1979.0,NaN,Average,3,2,Warm Cool,Y,NaN
76,20009.0,2.0,1979.0,NaN,Good,4,2,Warm Cool,Y,848500.0
77,20009.0,2.0,1979.0,NaN,Average,3,2,Warm Cool,Y,277000.0
78,20009.0,2.0,1979.0,2012.0,Very Good,4,2,Warm Cool,Y,1155000.0
79,20009.0,2.0,1979.0,2010.0,Average,3,2,Warm Cool,Y,NaN
80,20009.0,2.0,1979.0,NaN,Average,3,2,Warm Cool,Y,NaN
81,20009.0,2.0,1979.0,2014.0,Good,3,2,Warm Cool,Y,1363000.0
82,20009.0,2.0,1979.0,2007.0,Very Good,4,3,Warm Cool,Y,1148000.0
83,20009.0,2.0,1979.0,NaN,Average,3,2,Warm Cool,Y,NaN
84,20009.0,2.0,1900.0,2001.0,Good,3,2,Warm Cool,Y,NaN
85,20009.0,2.0,1865.0,2012.0,Good,3,3,Hot Water Rad,Y,900000.0
86,20009.0,3.0,1870.0,2011.0,Good,4,3,Warm Cool,Y,1440000.0
87,20009.0,2.0,1865.0,NaN,Average,3,1,Hot Water Rad,Y,NaN
88,20009.0,2.0,1865.0,NaN,Average,4,2,Hot Water Rad,N,NaN
89,20009.0,2.0,1865.0,1990.0,Good,2,2,Warm Cool,Y,872000.0
90,20009.0,3.0,1940.0,NaN,Average,4,6,Hot Water Rad,N,1500000.0
91,20009.0,3.0,1905.0,2008.0,Good,4,4,Warm Cool,Y,1925000.0
92,20037.0,2.0,1909.0,NaN,Good,4,2,Hot Water Rad,N,360000.0
93,20037.0,2.0,1898.0,2000.0,Good,6,2,Hot Water Rad,N,NaN
94,20009.0,4.0,1890.0,NaN,Average,7,4,Hot Water Rad,N,NaN
95,20009.0,3.0,1948.0,NaN,Average,5,3,Hot Water Rad,N,NaN
96,20009.0,2.0,1906.0,2004.0,Good,3,2,Warm Cool,Y,1280000.0
97,20009.0,4.0,1900.0,2013.0,Average,4,4,Warm Cool,Y,770000.0
98,20009.0,3.0,1951.0,NaN,Good,4,2,Hot Water Rad,Y,1560000.0
99,20009.0,3.0,1890.0,NaN,Average,6,4,Hot Water Rad,N,1351830.0

In [53]:
df_new.dtypes

ZIPCODE    float64
STORIES    float64
AYB        float64
YR_RMDL    float64
CNDTN       object
BEDRM        int64
BATHRM       int64
HEAT        object
AC          object
PRICE      float64
dtype: object

In [54]:
#find out missing values per columns
df_new.isnull().sum()

ZIPCODE        1
STORIES    52305
AYB          271
YR_RMDL    78029
CNDTN      52261
BEDRM          0
BATHRM         0
HEAT           0
AC             0
PRICE      60741
dtype: int64

In [55]:
#finding out the number of rows
len(df_new)

158957

In [56]:
#groupby zipcodes 
df_new['ZIPCODE'].value_counts()

20011.0    16352
20002.0    16310
20009.0    13171
20019.0    12458
20016.0    10644
20001.0    10549
20020.0     9805
20007.0     9029
20003.0     8015
20008.0     6801
20010.0     6428
20018.0     5670
20017.0     5622
20015.0     5337
20032.0     5111
20012.0     4118
20037.0     3730
20005.0     3404
20024.0     3105
20036.0     1892
20004.0     1082
20392.0      186
20006.0      118
20052.0       19
Name: ZIPCODE, dtype: int64

In [57]:
#groupby zipcodes and known condition
df_new.groupby(['ZIPCODE', 'CNDTN']).mean()

                    STORIES          AYB      YR_RMDL     BEDRM    BATHRM  \
ZIPCODE CNDTN
20001.0 Average    2.172157  1908.023778  1997.127986  3.427425  1.760201
        Default    2.000000  1900.000000          NaN  2.000000  1.000000
        Excellent  2.533333  1988.400000  2015.666667  3.933333  3.933333
        Fair       2.180412  1903.443299  1985.945946  3.474227  1.639175
        Good       2.195543  1909.378421  2006.643707  3.509196  2.322648
        Poor       2.218750  1905.500000  1986.500000  3.187500  1.187500
        Very Good  2.240706  1914.492593  2011.940426  3.755556  2.859259
20002.0 Average    2.040133  1920.518353  1991.805181  3.129944  1.684930
        Excellent  2.692308  1972.586207  2015.461538  3.724138  3.413793
        Fair       2.050360  1918.847826  1985.391304  3.309353  1.654676
        Good       2.280903  1916.420527  2005.108585  3.229984  2.090950
        Poor       2.038462  1918.750000  1989.500000  2.785714  1.750000
        Very Good  2.083572  1920.636015  2012.270647  3.461318  2.585482
20003.0 Average    2.103588  1913.721418  1985.512162  3.049044  1.727371
        Excellent  2.892377  2009.124444  2014.833333  3.728889  3.017778
        Fair       2.000000  1906.227273  1976.000000  2.590909  1.454545
        Good       2.214784  1912.659688  2000.807912  3.084632  2.087465
        Very Good  2.290581  1932.122244  2010.318421  3.416834  2.583166
20005.0 Average    2.684783  1900.026087  1995.637931  4.156522  2.782609
        Excellent  3.000000  1885.000000  2007.000000  5.000000  4.000000
        Fair       2.333333  1886.666667  1945.000000  4.000000  3.000000
        Good       2.573333  1900.173333  2001.258621  4.173333  2.866667
        Very Good  2.592593  1902.785714  2008.478261  4.178571  3.071429
20006.0 Average    3.000000  1900.000000  2000.000000  6.000000  3.000000
20007.0 Average    2.124216  1922.732915  1988.074178  3.354743  2.227390
        Default    0.714286  1972.333333  2009.000000  0.000000  0.142857
        Excellent  2.524843  1996.025000  2005.454545  4.937500  4.662500
        Fair       1.996000  1917.200000  1976.037037  3.213333  1.813333
        Good       2.280872  1930.528645  2000.939679  3.615871  2.772207
        Poor       2.000000  1925.000000          NaN  6.000000  3.000000
...                     ...          ...          ...       ...       ...
20019.0 Very Good  2.069470  2004.925182  2015.557692  3.341241  2.301095
20020.0 Average    1.922369  1941.141904  1989.507627  3.085216  1.512804
        Default    0.000000  1953.000000          NaN  0.000000  0.000000
        Excellent  2.700000  2011.620000  2017.000000  3.200000  2.500000
        Fair       1.922775  1931.785340  1987.242424  3.204188  1.570681
        Good       1.928783  1962.777725  2009.455534  3.165246  1.920928
        Poor       1.953125  1922.156250  1970.428571  3.375000  1.781250
        Very Good  2.460188  1989.866209  2012.894366  3.203767  2.178082
20024.0 Average    2.062500  1949.576602  1995.026667  2.800000  1.988889
        Fair       2.000000  1934.000000  1979.000000  2.500000  1.833333
        Good       2.345324  1983.755396  2009.000000  2.769784  2.381295
        Poor       2.000000  1900.000000          NaN  0.000000  0.000000
        Very Good  2.000000  1943.142857  2015.461538  3.142857  2.285714
20032.0 Average    1.980299  1949.631060  1993.669136  3.099291  1.587470
        Default    0.000000  2004.000000          NaN  0.000000  0.000000
        Excellent  2.146226  2001.452830  2013.250000  3.094340  2.041509
        Fair       1.914474  1933.473684  1985.000000  3.657895  2.105263
        Good       2.094148  1961.534884  2010.313596  3.351101  2.203940
        Poor       2.000000  1930.615385  1999.000000  4.769231  2.769231
        Very Good  2.252366  1987.375394  2016.016129  3.280757  2.350158
20036.0 Average    2.847826  1900.717391  1999.656250  4.152174  2.934783
        Excellent  4.000000  1961.000000  2005.000000  6.000000  6.000000
        Good       2.920000  1910.293333  2000.514706  4.200000  3.213333
        Very Good  2.779412  1917.058824  2006.625000  3.823529  3.588235
20037.0 Average    2.151042  1916.593750  1992.210526  2.822917  1.947917
        Fair       2.000000  1913.800000  1955.000000  2.400000  1.200000
        Good       2.320961  1917.851528  2000.331707  3.013100  2.218341
        Very Good  2.700000  1930.600000  2006.888889  3.500000  2.800000
20052.0 Average    3.000000  1899.333333  2004.500000  5.000000  2.000000
        Good       2.562500  1890.875000  2005.083333  3.750000  1.875000

                          PRICE
ZIPCODE CNDTN
20001.0 Average    4.107757e+05
        Default    4.990000e+05
        Excellent  1.179714e+06
        Fair       3.703427e+05
        Good       6.089330e+05
        Poor       7.580050e+05
        Very Good  9.541730e+05
20002.0 Average    3.311487e+05
        Excellent  1.645410e+06
        Fair       2.850489e+05
        Good       5.621588e+05
        Poor       3.366069e+05
        Very Good  7.623179e+05
20003.0 Average    4.077338e+05
        Excellent  8.281993e+05
        Fair       4.078126e+05
        Good       7.037322e+05
        Very Good  9.933855e+05
20005.0 Average    6.331098e+05
        Excellent  2.435000e+06
        Fair                NaN
        Good       1.019293e+06
        Very Good  1.642500e+06
20006.0 Average             NaN
20007.0 Average    7.596504e+05
        Default    5.175000e+06
        Excellent  2.739888e+06
        Fair       6.937297e+05
        Good       1.189035e+06
        Poor       5.800000e+05
...                         ...
20019.0 Very Good  3.313751e+05
20020.0 Average    2.043806e+05
        Default             NaN
        Excellent  4.519973e+05
        Fair       2.280108e+05
        Good       2.767816e+05
        Poor       4.849890e+05
        Very Good  3.859550e+05
20024.0 Average    3.666746e+05
        Fair       4.925745e+05
        Good       5.824927e+05
        Poor       1.100000e+07
        Very Good  8.123154e+05
20032.0 Average    1.571814e+05
        Default    2.500000e+07
        Excellent  2.320311e+05
        Fair       1.421965e+05
        Good       2.497731e+05
        Poor       1.478000e+05
        Very Good  3.832322e+05
20036.0 Average    8.795728e+05
        Excellent  1.198400e+07
        Good       1.293185e+06
        Very Good  1.921200e+06
20037.0 Average    6.510391e+05
        Fair       8.033333e+05
        Good       8.415430e+05
        Very Good  1.206500e+06
20052.0 Average             NaN
        Good       5.378571e+05

[119 rows x 6 columns]

In [58]:
#average price per Zipcode
df_new['PRICE'].groupby(df_new['ZIPCODE']).mean()

ZIPCODE
20001.0    5.215550e+05
20002.0    4.628894e+05
20003.0    5.992484e+05
20004.0    4.755701e+05
20005.0    2.813137e+06
20006.0    1.959069e+05
20007.0    9.794061e+05
20008.0    8.522766e+05
20009.0    6.215259e+05
20010.0    5.070154e+05
20011.0    4.259763e+05
20012.0    4.755227e+05
20015.0    7.703746e+05
20016.0    5.914537e+06
20017.0    4.087405e+05
20018.0    3.691101e+05
20019.0    2.302621e+05
20020.0    2.281464e+05
20024.0    3.808846e+05
20032.0    3.235769e+05
20036.0    4.015452e+05
20037.0    6.124601e+05
20052.0    5.378571e+05
20392.0    3.489169e+05
Name: PRICE, dtype: float64

In [59]:
#Most expensive houses per Zipcode
df_new['PRICE'].groupby(df_new['ZIPCODE']).max()

ZIPCODE
20001.0      7000000.0
20002.0      7576980.0
20003.0      3300000.0
20004.0      2750000.0
20005.0     53969391.0
20006.0       378000.0
20007.0     23960287.0
20008.0     18000000.0
20009.0     12780000.0
20010.0      3152740.0
20011.0      5000000.0
20012.0      2853497.0
20015.0      3600000.0
20016.0    137427545.0
20017.0      5250000.0
20018.0      4069000.0
20019.0     11000000.0
20020.0     25100000.0
20024.0     11000000.0
20032.0     25000000.0
20036.0     11984000.0
20037.0      4750000.0
20052.0       975000.0
20392.0      1020000.0
Name: PRICE, dtype: float64

In [60]:
##least expensive houses per Zipcode
df_new['PRICE'].groupby(df_new['ZIPCODE']).min()

ZIPCODE
20001.0         1.0
20002.0        10.0
20003.0     15000.0
20004.0     75900.0
20005.0      6950.0
20006.0     44000.0
20007.0        10.0
20008.0         1.0
20009.0       250.0
20010.0        10.0
20011.0       250.0
20012.0      4156.0
20015.0     20000.0
20016.0      1000.0
20017.0      1000.0
20018.0         1.0
20019.0        10.0
20020.0       250.0
20024.0     17000.0
20032.0         1.0
20036.0      3270.0
20037.0     19000.0
20052.0    370000.0
20392.0     75000.0
Name: PRICE, dtype: float64

In [61]:
#Find latest house per zipcodes
df_new['AYB'].groupby(df_new['ZIPCODE']).max()

ZIPCODE
20001.0    2018.0
20002.0    2018.0
20003.0    2018.0
20004.0    2006.0
20005.0    2018.0
20006.0    1960.0
20007.0    2017.0
20008.0    2018.0
20009.0    2017.0
20010.0    2017.0
20011.0    2018.0
20012.0    2017.0
20015.0    2017.0
20016.0    2019.0
20017.0    2017.0
20018.0    2018.0
20019.0    2018.0
20020.0    2018.0
20024.0    2017.0
20032.0    2018.0
20036.0    2014.0
20037.0    2017.0
20052.0    1942.0
20392.0    1988.0
Name: AYB, dtype: float64

In [62]:
#Find oldest house per zipcodes
df_new['AYB'].groupby(df_new['ZIPCODE']).min()

ZIPCODE
20001.0    1800.0
20002.0    1780.0
20003.0    1776.0
20004.0    1990.0
20005.0    1800.0
20006.0    1900.0
20007.0    1754.0
20008.0    1754.0
20009.0    1800.0
20010.0    1850.0
20011.0    1800.0
20012.0    1850.0
20015.0    1850.0
20016.0    1793.0
20017.0    1890.0
20018.0    1830.0
20019.0    1855.0
20020.0    1848.0
20024.0    1880.0
20032.0    1896.0
20036.0    1882.0
20037.0    1780.0
20052.0    1810.0
20392.0    1941.0
Name: AYB, dtype: float64

In [63]:
#Define bins as 1700-1799, 1800-1899, 1900-1949, 1949-1999, 2000-2009, 2010-2017
bins = [1700, 1800, 1900, 1950, 2000, 2010, 2018]

# Create names for the four groups
year_brackets = ['~300', '~200', '~100', '~50', '~20', '<10']

#make new column with letter grades
df_new['ageOfHouse'] = pd.cut(df_new['AYB'], bins, labels=year_brackets)
df_new.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,ZIPCODE,STORIES,AYB,YR_RMDL,CNDTN,BEDRM,BATHRM,HEAT,AC,PRICE,ageOfHouse
0,20009.0,3.0,1910.0,1988.0,Good,4,4,Warm Cool,Y,1095000.0,~100
1,20009.0,3.0,1898.0,2007.0,Good,5,3,Warm Cool,Y,NaN,~200
2,20009.0,3.0,1910.0,2009.0,Very Good,5,3,Hot Water Rad,Y,2100000.0,~100
3,20009.0,3.0,1900.0,2003.0,Good,5,3,Hot Water Rad,Y,1602000.0,~200
4,20009.0,3.0,1913.0,2012.0,Good,3,2,Warm Cool,Y,NaN,~100

In [67]:
df_new['ageOfHouse'].groupby(df_new['ZIPCODE']).value_counts()

ZIPCODE  ageOfHouse
20001.0  ~100           3883
         ~20            2909
         ~200           2632
         <10             735
         ~50             381
         ~300              2
20002.0  ~100          11666
         ~200           3000
         ~50             826
         <10             525
         ~20             270
         ~300              3
20003.0  ~100           4188
         ~200           2088
         ~20             818
         ~50             541
         <10             342
         ~300             23
20004.0  ~20             730
         ~50             352
20005.0  ~20            1084
         ~50             969
         ~200            668
         ~100            612
         <10              70
         ~300              1
20006.0  ~50             117
         ~200              1
20007.0  ~100           3749
         ~50            2742
                       ...
20020.0  ~100           6197
         ~50            2193
         ~20            1025
         <10             300
         ~200             81
20024.0  ~50            2292
         ~20             405
         <10             219
         ~100            178
         ~200              9
20032.0  ~100           2559
         ~50            1859
         ~20             533
         <10             142
         ~200             14
20036.0  ~50             992
         ~100            507
         ~200            369
         ~20              23
         <10               1
20037.0  ~50            2254
         ~100            630
         ~20             548
         ~200            225
         <10              71
         ~300              2
20052.0  ~200             17
         ~100              2
20392.0  ~50             162
         ~100             24
Name: ageOfHouse, Length: 118, dtype: int64